
.title {
  margin-bottom: 1vh
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem
  }
}

.card-cart {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

@media(max-width:767px) {
  .card-cart {
      margin: 3vh auto
  }
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem
  }
}

.title b {
  font-size: 1.5rem
}

.img-cart {
  width: 3.5rem
}

.back-to-shop {
  margin-top: 4.5rem
}

.cart-h5 {
  margin-top: 4vh
}

.cart-h4 {
  margin-top: 1vh
}

.cart-hr {
  margin-top: 1.25rem
}

.quantity {
  width: 3rem;
}

.cart-icon{
  color: black;
  text-decoration: none;
}
.cart-icon:hover {
  color: rgb(12, 16, 248);
  text-decoration: none;
}
