@import "bootstrap-icons/font/bootstrap-icons";
@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}
@import 'bootstrap/dist/css/bootstrap';

#home-jumbo {
  background-image: asset_url('longhairlar_misea.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden-product {
  font-style: italic;
}