<h1>Editing Product</h1>

<%= render 'form', product: @product %>
<div class="pt-2">
  <%= link_to 'Delete', @product, class: "btn btn-sm btn-outline-danger", 
                          method: :delete, data: { confirm: 'Are you sure?' } %> 
  <%= link_to 'Show', @product, class: "btn btn-sm btn-outline-dark" %>
  <%= link_to 'Back', products_path, class: "btn btn-sm btn-outline-dark" %>
</div>